@media screen and (min-width: 280px) {
}

@media screen and (min-width: 580px) {
  nav ul {
    flex-direction: row;
  }
  header {
    height: 100vh;
    font-size: 1.4em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-end;
  }
  .header-text h2 {
    display: block;
  }
}
